<div class="admission-container">
    <h1>Admission Process</h1>
    <p>Welcome to our school! We are excited to have you join our community of learners and educators. Here is an overview of the admission process:</p>
    <h2>Step 1: Submit an application</h2>
    <p>To apply to our school, you will need to complete and submit an online application form. You can access the form by clicking the "Apply Now" button on our website. The application form will ask for basic personal and academic information, as well as for a personal statement and recommendations from teachers or counselors. Make sure to fill out the form completely and accurately, as this will help us get to know you better and understand your interests and goals.</p>
    <h2>Step 2: Schedule an interview</h2>
    <p>Once we receive your application, we will review it and decide if you meet the basic requirements for admission. If you do, we will contact you to schedule an interview with a member of our admission team. The interview will give you the opportunity to learn more about our school and ask any questions you may have. It will also give us the chance to get to know you better and assess your fit with our community.</p>
    <h2>Step 3: Submit additional documents</h2>
    <p>If you pass the interview, we will ask you to submit additional documents to complete your application. These may include transcripts, test scores, and other records. Make sure to submit these documents as soon as possible, as we will use them to make a final decision on your admission. If you have any difficulties obtaining these documents, please let us know and we will try to help you.</p>
    <h2>Step 4: Wait for a decision</h2>
    <p>Once we have received all the necessary documents, we will review your application in its entirety and make a final decision on your admission. We will notify you of our decision by email or phone. If you are accepted, we will send you an acceptance letter and instructions on how to enroll and pay the enrollment fee. If you are not accepted, we will send you a letter of regret and encourage you to apply again in the future.</p>
    <p>Thank you for considering our school! We hope to see you soon as a member of our community.</p>
  </div>
  
