<div class = "body">
<div class="container">
    <div class="content">
      <div class="image-box">
       <img src="../../assets/contact.svg" alt="contact"> 
      </div>
    <form action="#">
      <div class="topic"> Contactez-nous</div>
      <div class="input-box">
        <input type="text" required>
        <label> Nom </label>
      </div>
      <div class="input-box">
        <input type="text" required>
        <label> Email </label>
      </div>
      <div class="message-box">
        <textarea></textarea>
        <label> Message </label>
      </div>
      <div class="input-box">
        <button type="submit"> Connexion </button>
      </div>
    </form>
  </div>
  </div>
</div>